In [3]:
# Algoritmo Navie Bayes
# !pip install yellowbrick
#!pip install graphviz

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.tree import DecisionTreeClassifier
import graphviz
from sklearn.tree import export_graphviz

In [5]:
# carregando a base de dados e definição dos previsores (variáveis independnetes - X) e a classe (Variaável dependente - Y)
credito = pd.read_csv('Credit.csv')
credito.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad

In [6]:
# Formando a matriz
previsores = credito.iloc[:, 0:20].values
classe = credito.iloc[:, 20].values

In [7]:
# Transformação dos atributos categóricos em atributos numéricos, passando o indice de cada coluna categórica
# Precisamos criar um objeto para cada  atributo categórico, pois na sequência vamos executar o processo 
# de encoding novamente para o resitro de teste
# Se forem utilizados objetos diferentes, o númeor atribuido a cada valor poderá ser diferente, 
# o que deixará o teste inconsistente


lista = [0,2,3,5,6,8,9,11,13,14,16,18,19]
for i in lista:
    labelencoder = LabelEncoder()
    previsores[:,i] = labelencoder.fit_transform(previsores[:,i])

In [8]:
# divisão da base de dados entre treinamento e teste (30% pata testar e 70% para treinar)
x_treinamento, x_teste, y_treinamento, y_teste = train_test_split(previsores, classe, test_size=0.3, random_state=0)
x_teste

array([[2, 36, 3, ..., 1, 1, 1],
       [0, 9, 3, ..., 2, 0, 0],
       [0, 18, 3, ..., 1, 1, 1],
       ...,
       [0, 24, 1, ..., 1, 0, 1],
       [1, 27, 4, ..., 1, 1, 1],
       [1, 12, 3, ..., 1, 0, 1]], dtype=object)

In [ ]:
# Até aqui é a mesma estrutura do Naive Bayes

In [9]:
# Criação e treinamento do modelo (gravação da tabela de probabilidades)
arvore = DecisionTreeClassifier()
arvore.fit(x_treinamento, y_treinamento)
export_graphviz(arvore, out_file='tree.dot')

# Acesse webgraphviz.com

In [10]:
# previsões usando o registro de testes
previsoes = arvore.predict(x_teste)
previsoes

array(['bad', 'good', 'good', 'good', 'good', 'bad', 'good', 'good',
       'good', 'bad', 'bad', 'bad', 'bad', 'bad', 'bad', 'bad', 'good',
       'good', 'bad', 'bad', 'good', 'bad', 'good', 'good', 'good', 'bad',
       'good', 'good', 'bad', 'bad', 'good', 'bad', 'bad', 'bad', 'good',
       'bad', 'good', 'good', 'bad', 'good', 'good', 'bad', 'good', 'bad',
       'good', 'good', 'good', 'bad', 'good', 'good', 'good', 'bad',
       'bad', 'good', 'good', 'bad', 'good', 'good', 'good', 'good',
       'bad', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'bad', 'good', 'bad', 'good', 'bad', 'bad', 'good', 'good', 'bad',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'bad', 'bad', 'good', 'good', 'good', 'good', 'bad', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'bad', 'good',
       'good', 'good', 'good', 'good', 'good', 'bad', 'bad', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'bad',
       'good', 'good', 'good', 'bad', 'good', 'bad', 'bad', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'bad', 'bad',
       'good', 'good', 'bad', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'bad', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'bad', 'bad', 'good', 'bad', 'good', 'bad', 'good', 'bad', 'bad',
       'good', 'bad', 'bad', 'bad', 'good', 'good', 'good', 'good', 'bad',
       'bad', 'bad', 'good', 'good', 'good', 'bad', 'good', 'good', 'bad',
       'good', 'good', 'good', 'bad', 'good', 'good', 'good', 'bad',
       'good', 'bad', 'bad', 'good', 'good', 'good', 'bad', 'good',
       'good', 'good', 'bad', 'bad', 'good', 'good', 'good', 'bad',
       'good', 'good', 'good', 'bad', 'bad', 'bad', 'good', 'good',
       'good', 'good', 'good', 'good', 'bad', 'good', 'good', 'good',
       'good', 'good', 'bad', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'bad', 'good', 'good',
       'good', 'good', 'bad', 'good', 'good', 'bad', 'good', 'good',
       'good', 'good', 'good', 'bad', 'good', 'bad', 'good', 'good',
       'bad', 'bad', 'good', 'good', 'good', 'bad', 'bad', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'bad', 'bad', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'bad', 'bad',
       'bad', 'bad', 'good', 'good', 'good', 'good', 'good', 'bad',
       'good', 'bad', 'bad'], dtype=object)

In [11]:
confusao = confusion_matrix(y_teste, previsoes)
confusao

# navie bayes
# array([[ 41,  45],
       # [ 42, 172]])

array([[ 44,  42],
       [ 47, 167]])

In [12]:
taxa_acerto = accuracy_score(y_teste, previsoes)
print(f'Acerto: {taxa_acerto}')
taxa_erro = 1 - taxa_acerto
print(f'Erro: {taxa_erro}')

Acerto: 0.7033333333333334
Erro: 0.29666666666666663

In [13]:
novo_credito = pd.read_csv('NovoCredit.csv')
novo_credito.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker
0,'no checking',12,'existing paid',radio/tv,804,<100,>=7,4,'male single',none,4,car,38,none,own,1,skilled,1,none,yes

In [14]:
# Transformação dos atributos categóricos em atributos numéricos, passando o indice de cada coluna categórica
# Precisamos criar um objeto para cada  atributo categórico, pois na sequência vamos executar o processo de encoding novamente para o resitro de teste
# Se forem utilizados objetos diferentes, o númeor atribuido a cada valor poderá ser diferente, o que deixará o teste inconsistente

novo_credito = novo_credito.iloc[:,0:20].values

lista = [0,2,3,5,6,8,9,11,13,14,16,18,19]
for i in lista:
    labelencoder = LabelEncoder()
    novo_credito[:,i] = labelencoder.fit_transform(novo_credito[:,i])

In [15]:
arvore.predict(novo_credito)

# navie bayes
# array(['good'], dtype='<U4')

array(['good'], dtype=object)